*.java.hsp
*.sonarj
*.sw*
.DS_Store
personalizedmedicine/.settings
.springBeans
*.orig
bin

classes/
bin/
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbproject/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
nb-configuration.xml
nbactions.tmp
nbactions.xml
!**/src/main/**/build/
!**/src/test/**/build/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# mergetool
.orig

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
